Repository gardener/gardener-extension-shoot-networking-problemdetector, pull requests merged in 2023-03, with the labels that each got.

#61 Remove minAllowed.cpu for all components
  charts/gardener-extension-shoot-networking-problemdetector/templates/vpa.yaml
  charts/gardener-extension-shoot-networking-problemdetector/values.yaml
  charts/internal/shoot-network-problem-detector-controller-seed/templates/vpa.yaml
  example/controller-registration.yaml
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#63 bump builder image to golang:1.20.2
  Dockerfile
  go.mod
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs

#64 Vendor `gardener@1.66.1` and add `ShootSystemComponentsHealthy` to `conditionTypesToRemove`
  cmd/gardener-extension-shoot-networking-problemdetector/app/app.go
  go.mod
  go.sum
  pkg/cmd/options.go
  pkg/controller/healthcheck/add.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/controller.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/reconciler.go
  vendor/modules.txt
Labels: area/control-plane, kind/bug, reviewed/lgtm, needs/ok-to-test, size/s

#65 [release-v0.14] Vendor `gardener@1.66.1` and add `ShootSystemComponentsHealthy` to `conditionTypesToRemove`
  cmd/gardener-extension-shoot-networking-problemdetector/app/app.go
  go.mod
  go.sum
  pkg/cmd/options.go
  pkg/controller/healthcheck/add.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/controller.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/reconciler.go
  vendor/modules.txt
Labels: area/control-plane, kind/bug, reviewed/lgtm, needs/ok-to-test, size/s
